body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 140px -19.66667px #ff9100, 25px -167.66667px #00ffcc, 238px -210.66667px #2fff00, 54px -149.66667px #dd00ff, -8px 23.33333px #ff0026, 108px -197.66667px #00aaff, -132px -8.66667px #00f2ff, -156px 36.33333px #73ff00, 227px -407.66667px #77ff00, 196px -390.66667px #0d00ff, 52px -62.66667px #22ff00, 209px -360.66667px #ff003c, -216px -193.66667px #ff5500, 73px -100.66667px #00ff6a, -27px -292.66667px #00ff95, 118px -97.66667px #00ddff, 170px -133.66667px #7b00ff, 155px -234.66667px #ffbf00, 233px -34.66667px #00c8ff, -168px -213.66667px #00ff88, 52px -211.66667px #6fff00, -246px -233.66667px #ff00a2, -201px -147.66667px #ff0d00, 54px -382.66667px #00ffb7, 120px -414.66667px #ff00b7, -45px -149.66667px #5eff00, -189px -238.66667px #5eff00, -171px -101.66667px #9d00ff, 248px 60.33333px #ff3c00, 10px -96.66667px #0048ff, 126px -406.66667px #ff007b, 179px -225.66667px #00ff1e, -243px -32.66667px #4d00ff, 135px 73.33333px #ff7b00, 187px 21.33333px #00ff04, 1px -277.66667px #00fffb, -173px -201.66667px #2f00ff, -32px -37.66667px #ff004d, -244px 17.33333px #ff004d, 238px -268.66667px #40ff00, 221px 53.33333px #ff009d, 222px -318.66667px #00ddff, 197px -86.66667px #ff7b00, -205px 12.33333px #e600ff, 225px -233.66667px #ff1500, 28px -157.66667px #51ff00, -95px -135.66667px #ffc400, -96px 61.33333px #5eff00, -76px -310.66667px #00e1ff, -151px -289.66667px #3cff00, -18px -31.66667px #5500ff;
            box-shadow: 140px -19.66667px #ff9100, 25px -167.66667px #00ffcc, 238px -210.66667px #2fff00, 54px -149.66667px #dd00ff, -8px 23.33333px #ff0026, 108px -197.66667px #00aaff, -132px -8.66667px #00f2ff, -156px 36.33333px #73ff00, 227px -407.66667px #77ff00, 196px -390.66667px #0d00ff, 52px -62.66667px #22ff00, 209px -360.66667px #ff003c, -216px -193.66667px #ff5500, 73px -100.66667px #00ff6a, -27px -292.66667px #00ff95, 118px -97.66667px #00ddff, 170px -133.66667px #7b00ff, 155px -234.66667px #ffbf00, 233px -34.66667px #00c8ff, -168px -213.66667px #00ff88, 52px -211.66667px #6fff00, -246px -233.66667px #ff00a2, -201px -147.66667px #ff0d00, 54px -382.66667px #00ffb7, 120px -414.66667px #ff00b7, -45px -149.66667px #5eff00, -189px -238.66667px #5eff00, -171px -101.66667px #9d00ff, 248px 60.33333px #ff3c00, 10px -96.66667px #0048ff, 126px -406.66667px #ff007b, 179px -225.66667px #00ff1e, -243px -32.66667px #4d00ff, 135px 73.33333px #ff7b00, 187px 21.33333px #00ff04, 1px -277.66667px #00fffb, -173px -201.66667px #2f00ff, -32px -37.66667px #ff004d, -244px 17.33333px #ff004d, 238px -268.66667px #40ff00, 221px 53.33333px #ff009d, 222px -318.66667px #00ddff, 197px -86.66667px #ff7b00, -205px 12.33333px #e600ff, 225px -233.66667px #ff1500, 28px -157.66667px #51ff00, -95px -135.66667px #ffc400, -96px 61.33333px #5eff00, -76px -310.66667px #00e1ff, -151px -289.66667px #3cff00, -18px -31.66667px #5500ff;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 140px -19.66667px #ff9100, 25px -167.66667px #00ffcc, 238px -210.66667px #2fff00, 54px -149.66667px #dd00ff, -8px 23.33333px #ff0026, 108px -197.66667px #00aaff, -132px -8.66667px #00f2ff, -156px 36.33333px #73ff00, 227px -407.66667px #77ff00, 196px -390.66667px #0d00ff, 52px -62.66667px #22ff00, 209px -360.66667px #ff003c, -216px -193.66667px #ff5500, 73px -100.66667px #00ff6a, -27px -292.66667px #00ff95, 118px -97.66667px #00ddff, 170px -133.66667px #7b00ff, 155px -234.66667px #ffbf00, 233px -34.66667px #00c8ff, -168px -213.66667px #00ff88, 52px -211.66667px #6fff00, -246px -233.66667px #ff00a2, -201px -147.66667px #ff0d00, 54px -382.66667px #00ffb7, 120px -414.66667px #ff00b7, -45px -149.66667px #5eff00, -189px -238.66667px #5eff00, -171px -101.66667px #9d00ff, 248px 60.33333px #ff3c00, 10px -96.66667px #0048ff, 126px -406.66667px #ff007b, 179px -225.66667px #00ff1e, -243px -32.66667px #4d00ff, 135px 73.33333px #ff7b00, 187px 21.33333px #00ff04, 1px -277.66667px #00fffb, -173px -201.66667px #2f00ff, -32px -37.66667px #ff004d, -244px 17.33333px #ff004d, 238px -268.66667px #40ff00, 221px 53.33333px #ff009d, 222px -318.66667px #00ddff, 197px -86.66667px #ff7b00, -205px 12.33333px #e600ff, 225px -233.66667px #ff1500, 28px -157.66667px #51ff00, -95px -135.66667px #ffc400, -96px 61.33333px #5eff00, -76px -310.66667px #00e1ff, -151px -289.66667px #3cff00, -18px -31.66667px #5500ff;
            box-shadow: 140px -19.66667px #ff9100, 25px -167.66667px #00ffcc, 238px -210.66667px #2fff00, 54px -149.66667px #dd00ff, -8px 23.33333px #ff0026, 108px -197.66667px #00aaff, -132px -8.66667px #00f2ff, -156px 36.33333px #73ff00, 227px -407.66667px #77ff00, 196px -390.66667px #0d00ff, 52px -62.66667px #22ff00, 209px -360.66667px #ff003c, -216px -193.66667px #ff5500, 73px -100.66667px #00ff6a, -27px -292.66667px #00ff95, 118px -97.66667px #00ddff, 170px -133.66667px #7b00ff, 155px -234.66667px #ffbf00, 233px -34.66667px #00c8ff, -168px -213.66667px #00ff88, 52px -211.66667px #6fff00, -246px -233.66667px #ff00a2, -201px -147.66667px #ff0d00, 54px -382.66667px #00ffb7, 120px -414.66667px #ff00b7, -45px -149.66667px #5eff00, -189px -238.66667px #5eff00, -171px -101.66667px #9d00ff, 248px 60.33333px #ff3c00, 10px -96.66667px #0048ff, 126px -406.66667px #ff007b, 179px -225.66667px #00ff1e, -243px -32.66667px #4d00ff, 135px 73.33333px #ff7b00, 187px 21.33333px #00ff04, 1px -277.66667px #00fffb, -173px -201.66667px #2f00ff, -32px -37.66667px #ff004d, -244px 17.33333px #ff004d, 238px -268.66667px #40ff00, 221px 53.33333px #ff009d, 222px -318.66667px #00ddff, 197px -86.66667px #ff7b00, -205px 12.33333px #e600ff, 225px -233.66667px #ff1500, 28px -157.66667px #51ff00, -95px -135.66667px #ffc400, -96px 61.33333px #5eff00, -76px -310.66667px #00e1ff, -151px -289.66667px #3cff00, -18px -31.66667px #5500ff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=firework.css.map */