body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: -126px -336.66667px #73ff00, 230px 16.33333px #b7ff00, 94px -407.66667px #d0ff00, 221px -349.66667px #0048ff, -132px -360.66667px #bb00ff, 110px -95.66667px #00ff4d, -32px -298.66667px #ff006f, -73px -342.66667px #22ff00, 249px -57.66667px #ff4d00, -37px -353.66667px #c400ff, -216px -373.66667px #ff0084, -134px -264.66667px #00ff3c, -212px -219.66667px #00ff9d, 59px -51.66667px #ff0004, -27px -32.66667px #00aeff, 6px -196.66667px #f200ff, -187px 18.33333px #00ffa6, -41px 57.33333px #ff004d, -191px -180.66667px #ff9100, -12px -162.66667px #00ff04, -95px -300.66667px #ccff00, -199px -69.66667px #91ff00, 122px -90.66667px #00ff80, -121px -338.66667px #ff00fb, -231px -342.66667px #ffdd00, 220px -397.66667px #00ffbf, 117px -34.66667px #00ff3c, -70px -159.66667px #ff8000, -127px -353.66667px #f700ff, 130px -127.66667px #ff5900, -225px -23.66667px #f7ff00, 161px 14.33333px #ff1500, -79px 59.33333px #ffb300, -98px -406.66667px #1100ff, -164px -414.66667px #ffd500, -93px -392.66667px #22ff00, 158px -37.66667px #ff00bb, -70px -241.66667px #6fff00, -221px -6.66667px #d900ff, 229px -200.66667px #6600ff, -179px -361.66667px #00ffd5, -85px -374.66667px #ff8000, -131px -113.66667px #0088ff, -51px -411.66667px yellow, -224px -375.66667px #00ff55, -214px -156.66667px #0009ff, 21px -400.66667px #ff8000, 69px 21.33333px #ff007b, 210px -58.66667px #ff0040, -4px -186.66667px #ff00dd, 174px 24.33333px #00ffb7;
            box-shadow: -126px -336.66667px #73ff00, 230px 16.33333px #b7ff00, 94px -407.66667px #d0ff00, 221px -349.66667px #0048ff, -132px -360.66667px #bb00ff, 110px -95.66667px #00ff4d, -32px -298.66667px #ff006f, -73px -342.66667px #22ff00, 249px -57.66667px #ff4d00, -37px -353.66667px #c400ff, -216px -373.66667px #ff0084, -134px -264.66667px #00ff3c, -212px -219.66667px #00ff9d, 59px -51.66667px #ff0004, -27px -32.66667px #00aeff, 6px -196.66667px #f200ff, -187px 18.33333px #00ffa6, -41px 57.33333px #ff004d, -191px -180.66667px #ff9100, -12px -162.66667px #00ff04, -95px -300.66667px #ccff00, -199px -69.66667px #91ff00, 122px -90.66667px #00ff80, -121px -338.66667px #ff00fb, -231px -342.66667px #ffdd00, 220px -397.66667px #00ffbf, 117px -34.66667px #00ff3c, -70px -159.66667px #ff8000, -127px -353.66667px #f700ff, 130px -127.66667px #ff5900, -225px -23.66667px #f7ff00, 161px 14.33333px #ff1500, -79px 59.33333px #ffb300, -98px -406.66667px #1100ff, -164px -414.66667px #ffd500, -93px -392.66667px #22ff00, 158px -37.66667px #ff00bb, -70px -241.66667px #6fff00, -221px -6.66667px #d900ff, 229px -200.66667px #6600ff, -179px -361.66667px #00ffd5, -85px -374.66667px #ff8000, -131px -113.66667px #0088ff, -51px -411.66667px yellow, -224px -375.66667px #00ff55, -214px -156.66667px #0009ff, 21px -400.66667px #ff8000, 69px 21.33333px #ff007b, 210px -58.66667px #ff0040, -4px -186.66667px #ff00dd, 174px 24.33333px #00ffb7;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: -126px -336.66667px #73ff00, 230px 16.33333px #b7ff00, 94px -407.66667px #d0ff00, 221px -349.66667px #0048ff, -132px -360.66667px #bb00ff, 110px -95.66667px #00ff4d, -32px -298.66667px #ff006f, -73px -342.66667px #22ff00, 249px -57.66667px #ff4d00, -37px -353.66667px #c400ff, -216px -373.66667px #ff0084, -134px -264.66667px #00ff3c, -212px -219.66667px #00ff9d, 59px -51.66667px #ff0004, -27px -32.66667px #00aeff, 6px -196.66667px #f200ff, -187px 18.33333px #00ffa6, -41px 57.33333px #ff004d, -191px -180.66667px #ff9100, -12px -162.66667px #00ff04, -95px -300.66667px #ccff00, -199px -69.66667px #91ff00, 122px -90.66667px #00ff80, -121px -338.66667px #ff00fb, -231px -342.66667px #ffdd00, 220px -397.66667px #00ffbf, 117px -34.66667px #00ff3c, -70px -159.66667px #ff8000, -127px -353.66667px #f700ff, 130px -127.66667px #ff5900, -225px -23.66667px #f7ff00, 161px 14.33333px #ff1500, -79px 59.33333px #ffb300, -98px -406.66667px #1100ff, -164px -414.66667px #ffd500, -93px -392.66667px #22ff00, 158px -37.66667px #ff00bb, -70px -241.66667px #6fff00, -221px -6.66667px #d900ff, 229px -200.66667px #6600ff, -179px -361.66667px #00ffd5, -85px -374.66667px #ff8000, -131px -113.66667px #0088ff, -51px -411.66667px yellow, -224px -375.66667px #00ff55, -214px -156.66667px #0009ff, 21px -400.66667px #ff8000, 69px 21.33333px #ff007b, 210px -58.66667px #ff0040, -4px -186.66667px #ff00dd, 174px 24.33333px #00ffb7;
            box-shadow: -126px -336.66667px #73ff00, 230px 16.33333px #b7ff00, 94px -407.66667px #d0ff00, 221px -349.66667px #0048ff, -132px -360.66667px #bb00ff, 110px -95.66667px #00ff4d, -32px -298.66667px #ff006f, -73px -342.66667px #22ff00, 249px -57.66667px #ff4d00, -37px -353.66667px #c400ff, -216px -373.66667px #ff0084, -134px -264.66667px #00ff3c, -212px -219.66667px #00ff9d, 59px -51.66667px #ff0004, -27px -32.66667px #00aeff, 6px -196.66667px #f200ff, -187px 18.33333px #00ffa6, -41px 57.33333px #ff004d, -191px -180.66667px #ff9100, -12px -162.66667px #00ff04, -95px -300.66667px #ccff00, -199px -69.66667px #91ff00, 122px -90.66667px #00ff80, -121px -338.66667px #ff00fb, -231px -342.66667px #ffdd00, 220px -397.66667px #00ffbf, 117px -34.66667px #00ff3c, -70px -159.66667px #ff8000, -127px -353.66667px #f700ff, 130px -127.66667px #ff5900, -225px -23.66667px #f7ff00, 161px 14.33333px #ff1500, -79px 59.33333px #ffb300, -98px -406.66667px #1100ff, -164px -414.66667px #ffd500, -93px -392.66667px #22ff00, 158px -37.66667px #ff00bb, -70px -241.66667px #6fff00, -221px -6.66667px #d900ff, 229px -200.66667px #6600ff, -179px -361.66667px #00ffd5, -85px -374.66667px #ff8000, -131px -113.66667px #0088ff, -51px -411.66667px yellow, -224px -375.66667px #00ff55, -214px -156.66667px #0009ff, 21px -400.66667px #ff8000, 69px 21.33333px #ff007b, 210px -58.66667px #ff0040, -4px -186.66667px #ff00dd, 174px 24.33333px #00ffb7;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=firework.css.map */